.login-wrapper {
	display: flex;
	flex-direction: row;
	height: 100vh;
	margin: 30px;
}
.row-login {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	gap: 20px;
}
.email-container,
.password-container {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.login-btn-container {
	width: 90%;
	gap: 10px;
	display: flex;
	flex-direction: column;
}
.forgot-password {
	margin-left: auto;
}
.row-illustration {
	background: url(../illustration.jpg);
	width: 100%;
}

/* Forgot Password */
.forgotpassword-wrapper {
	gap: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	height: 80vh;
}

/* Register New User */
.register-wrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	margin: 20px;
	height: 90vh;
}

/* Profile-pic */
.profile-pic {
	width: 200px !important;
	height: 200px !important;
}

/* View Profile */
.viewprofile-wrapper {
	display: flex;
	flex-direction: row;
	gap: 20px;
	min-height: 90vh;
	margin-top: 20px;
}
.user-main {
	width: 50%;
	background-color: #2b2727;
	color: white;
}
.user-main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	min-height: 90vh;
}
.about-user {
	padding: 20px;
	text-align: center;
}
.mail-user {
	margin-top: 25px;
}
.btns-user {
	margin-top: auto;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.user-other {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.hobby,
.food,
.sport {
	padding: 30px;
}

/* Edit Profile */
.editprofile-form {
	display: flex;
	flex-direction: column;
}

.viewuser-wrapper {
	margin: 20px;
}
.user-list-content {
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
@media screen and (max-width: 425px) {
	.profile-pic {
		width: 75px !important;
		height: 75px !important;
	}
	.hobby,
	.food,
	.sport {
		padding: 10px;
	}
}
