/* Variables */
:root {
	--primaryBG: #191919;
	--secondary: #3498db;
	--third: #2ecc73;
}
/* Reset */
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
}

/* Base Style */
.Wrapper {
	/* margin: 15px; */
	display: flex;
	flex-direction: row;
}

/* Side Menu Bar Style */
.sidemenu {
	background-color: #4e73df;
	width: 18%;
}
.sidemenu ul {
	color: white;
	background-color: #4e73df;
}
.sidemenu ul div {
	margin-left: 10px;
}
.menu-heading,
.sidemenu svg {
	color: rgba(255, 255, 255, 0.4) !important;
}
.menu-items {
	list-style: none;
}
.menu-items li {
	line-height: 40px;
}
.menu-icons {
	margin-right: 10px;
}
.logo-heading {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

/* Content Wrapper Styles */
.content-wrapper {
	padding: 0px 20px;
	width: 82%;
}
/* Header file styles */
header {
	margin-top: 20px;
}
.content-header,
.icon-holder,
.user-badge {
	display: flex;
	align-items: center;
}
.search-bar {
	display: flex;
	align-items: center;
	height: 50px;
	width: 30%;
	border: 2px solid var(--secondary);
	border-radius: 25px;
}
.search-bar div {
	width: 100%;
}

.text-field fieldset {
	border: none;
	outline: none;
}
.search-button {
	height: 50px;
}
.icon-holder {
	margin-left: auto;
}
.user-badge {
	margin-left: 35px;
}
.profile-name {
	margin-right: 15px;
}
.badge {
	margin: 10px 20px;
}

/* Maincontent styles */
.first-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.display-report {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.report {
	width: 250px;
	height: 100px;
	border: 1px solid rgba(58, 59, 69, 0.15);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.monthly {
	box-shadow: -5px 0px 0px #4e73df;
}
.monthly-heading {
	color: #4e73df;
}
.annual {
	box-shadow: -5px 0px 0px #1cc88a;
}
.annual-heading {
	color: #1cc88a;
}
.task {
	box-shadow: -5px 0px 0px #36b9cc;
}
.task-heading {
	color: #36b9cc;
}
.progress-bar {
	border-radius: 10px;
	height: 10px !important;
}
.request {
	box-shadow: -5px 0px 0px #f6c23e;
}
.request-heading {
	color: #f6c23e;
}
.report-heading {
	font-size: 14px;
}
.report-value {
	font-size: 20px;
}
.report-logo svg {
	height: 30px;
	width: 30px;
}
.pictorial-data {
	gap: 20px;
	margin: 20px 0px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: max-content;
}
.data-title {
	display: flex;
	justify-content: space-between;
}
.pic-divider {
	margin-bottom: 20px !important;
}
.graph {
	padding: 0 20px;
	width: 63%;
	/* border: 1px solid blue; */
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px;
}
.pie-chart {
	padding: 0 20px;
	width: 35%;
	/* border: 1px solid rgb(19, 207, 35); */
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px;
}
/* Other content styles */
.othercontent-wrapper {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.column1 {
	display: flex;
	width: 50%;
	flex-direction: column;
}
.column2 {
	display: flex;
	width: 50%;
	flex-direction: column;
	gap: 20px;
}
.project-progress {
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px;
}
.css-futumu-MuiLinearProgress-root::before {
	background-color: #afafaf;
}
.data-title h4 {
	margin-top: 0px;
	font-size: 18px;
}
.progress-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.progress-bar-server,
.progress-bar-sales,
.progress-bar-customer,
.progress-bar-payout,
.progress-bar-account {
	border-radius: 8px;
	height: 20px !important;
}
.server,
.sales,
.customer,
.payout,
.account {
	margin: 10px 10px 20px 10px;
}
.progress-bar-server span {
	background-color: #e74a3b;
}
.progress-bar-sales span {
	background-color: #f6c23e;
}
.progress-bar-customer span {
	background-color: #4e73df;
}
.progress-bar-payout span {
	background-color: #36b9cc;
}
.progress-bar-account span {
	background-color: #1cc88a;
}
.color-theme {
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 0px;
}
.color-box {
	height: 60px;
	color: white;
	padding: 15px;
	width: 38%;
	border-radius: 5px;
	box-shadow: 1px 1px 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.white-color {
	color: black;
}

/* Illustration styling */
.illustrations {
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px;
}
.illustration-content img {
	width: 380px;
	margin-bottom: 20px;
}
.illustration-content p {
	color: #858999;
	line-height: 2rem;
	text-align: justify;
	margin-bottom: 20px;
}
.illustration-content a {
	background-color: transparent;
	text-decoration: none;
	color: blue;
}
.development {
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px;
}
.development p {
	color: #858999;
	line-height: 1.8rem;
	margin-bottom: 20px;
}

/* Footer style */
footer {
	display: flex;
	height: 150px;
	align-items: center;
	justify-content: center;
}

/* Fonts */

/* Media Queries */
