/* Variables */
:root {
	--primaryBG: #191919;
	--secondary: #3498db;
	--third: #2ecc73;
}
/* Reset */
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
}

/* Base Style */
.Wrapper {
	margin: 25px;
	display: flex;
	flex-direction: row;
}
.sidemenu {
	padding: 20px;
	width: 20%;
}
.menu-items {
	list-style: none;
}
.menu-items li {
	line-height: 40px;
}
.menu-icons {
	margin-right: 10px;
}
.content-wrapper {
	padding: 20px;
	width: 80%;
}
/* Fonts */

/* Media Queries */
